@import "tailwindcss";

.container {
  @apply mx-auto w-[97%] lg:w-[95%];
}

:root {
  font-family: var(--font-sora);
  line-height: 1.1;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@theme {
  --font-sora: "Manrope", "san-serif";
  --color-primary: #0c2a46;
  --color-secondary-25: #efe8e1;
  --color-secondary: #f08e10;
  --color-accent-500: #4d67eb;
  --color-accent-600: #5483f9;
  --color-white: #ffffff;
  --color-grey-5: #f9f9fb;
  --color-grey-10: #dfe4e8;
  --color-grey-100: #f3f3f3;
  --color-grey-200: #d0d1d3;
  --color-grey-300: #bababa;
  --color-grey-400: #757575;
  --color-grey-500: #191919;
  --color-grey-550: #8a8c91;
  --color-grey-600: #73757c;
  --color-grey-700: #27272a;
  --color-grey-800: #1b1b1b;
  --color-grey-900: #090909;
  --color-warning: #dc6803;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fbf4e9;
  --color-warning-300: #fec84b;
  --color-warning-400: #ffb63f;
  --color-warning-500: #ae6302;
  --color-error: #de4841;
  --color-error-50: #fef3f2;
  --color-error-100: #ffe8da;
  --color-error-300: #f42c1c;
  --color-error-500: #93162d;
  --color-success: #20b958;
  --color-success-50: #e9f8ee;
  --color-success-100: #eafcd9;
  --color-success-500: #59cc3d;
  --color-success-700: #24921e;
  --color-success-900: #0b6114;
  --color-Line: #e7e7e7;
  --main-header-height: 100px;
  --shadow-3xl: 3px 3px 10px 0px #0000000a;
  --gradient: linear-gradient(
    270deg,
    rgba(238, 139, 13, 0.4) 40.16%,
    rgba(255, 255, 255, 0) 74.3%
  );
}

@layer base {
  body {
    @apply text-grey-700 m-0 overflow-hidden bg-white p-0;
  }

  button,
  [role="button"] {
    cursor: pointer;
  }

  label {
    @apply text-grey-500 text-sm font-medium;
  }

  textarea,
  input {
    @apply text-grey-500 text-sm;
  }

  textarea,
  input::placeholder {
    @apply text-grey-300 text-sm;
  }

  h1 {
    @apply text-2xl font-bold lg:text-4xl;
  }

  h2,
  h3 {
    @apply text-xl font-semibold lg:text-2xl;
  }

  h4 {
    @apply text-lg font-semibold lg:text-xl;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.375rem;
  height: 17px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #667085;
  border-radius: 0.5rem;
  transition: all ease 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9097a6;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

/* ====Btns==== */

.btn {
  min-height: 48px;
  padding: 12px 32px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  border-radius: 10px;
  letter-spacing: 0.112px;
}

.small-btn {
  min-height: 35px;
  padding: 5px 16px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  border-radius: 10px;
  letter-spacing: 0.112px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pry-btn {
  background: var(--color-primary);
  color: var(--color-white);
}

.sec-btn {
  background: var(--color-secondary);
  color: var(--color-white);
}

.alt-btn {
  background: var(--color-grey-100);
  color: var(--color-grey-500);
}

.outline-btn {
  border: solid 1px var(--color-Line);
  color: var(--color-primary);
}

/* ====Btns==== */

/* ====SIDEBAR ==== */

.sidebarActive {
  background: var(--color-white);
  color: var(--color-primary);
  border-left: solid 1px var(--color-white);
}

.sidebarNotActive {
  color: var(--color-grey-400) !important;
}

.sidebarActive,
.sidebarNotActive {
  padding: 1em 1.3em 1em;
  border-radius: 10px;
  font-weight: 600;
}

.closeSidebar {
  position: fixed;
  background: var(--color-white);
  backdrop-filter: blur(5px) brightness(0.9);
  -webkit-backdrop-filter: blur(5px) brightness(0.9);
  left: -100%;
  transition: all 0.6s ease-in-out;
  width: 100%;
  z-index: 2;
  min-height: 100vh;
}

.openSidebar {
  position: fixed;
  background: var(--color-white);
  backdrop-filter: blur(5px) brightness(0.9);
  -webkit-backdrop-filter: blur(5px) brightness(0.9);
  left: 0;
  width: 100%;
  transition: all 0.6s ease-in-out;
  z-index: 2;
  overflow-y: scroll;
  min-height: 100vh;
}
/* ====SIDEBAR ==== */

/* ====Inputs Starts==== */

.form-controls {
  @apply border-grey-10 placeholder:text-grey-300 focus:outline-primary disabled:bg-grey-5 min-h-12 w-full rounded-xl border px-4 py-2 disabled:cursor-not-allowed;
}
/* ====Inputs End ==== */

.errors {
  @apply border-error border;
}

.error_message {
  @apply text-error text-sm;
}

.card {
  @apply border-Line rounded-lg border;
}

.activeTabClass,
.notActiveTabClass {
  @apply px-4! py-2! pb-4 text-center;
}

.activeTabClass {
  @apply border-primary text-primary border-b-2;
}

.notActiveTabClass {
  @apply text-grey-100;
}

/* ===STATUS START==== */
.failed {
  @apply bg-error-100 border-error-500/80 text-error-500 border;
}

.success {
  @apply text-success-900 bg-success-100 border-success-900/80 border;
}

.warning {
  @apply bg-warning-100 border-warning-500/80 text-warning-500 border;
}

.fall-back {
  @apply bg-grey-10 text-grey-300;
}

.failed,
.success,
.warning,
.fall-back {
  @apply rounded;
  @apply px-4 py-1;
  @apply capitalize;
}

.rated {
  @apply text-warning-400;
}
.noRating {
  @apply text-grey-300;
}
/* ===STATUS END==== */

.activeTab,
.notActiveTab {
  padding-bottom: 0.8em;
  cursor: pointer;
  text-align: center;
  color: var(--color-grey-100);
}

.activeTab {
  border-bottom: solid 1px var(--color-primary);
  color: var(--color-primary);
  font-weight: 700;
  font-size: 0.9rem;
}

.notActiveTab {
  font-weight: 400;
  font-size: 0.875rem;
}
